extends ../layout

block content
  include ../includes/navigation

  body
    h1 Overdue Books
    p 
      a(href="new_book" class="button") Create New Book
    p Filters  
      a(href="all_books")  All  |
      a(href="overdue_books")  Overdue  |
      a(href="checked_books")  Checked Out   

    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
      each book in books
        tr
         if (book.loaned_on && book.return_by && !book.returned_on)
          td
            a(href="/book_detail/" + book.id)= book.title
          td= book.author
          td= book.genre
          td= book.first_published